<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cidoeq.taniaga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher_taniaga"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login" ></activity>
        <activity android:name=".register" ></activity>
        <activity android:name=".Profile" ></activity>
        <activity android:name=".Premium" ></activity>
        <activity android:name=".Category" ></activity>
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" ></activity>
        <activity android:name=".ComposeMessage" ></activity>
        <activity android:name=".Inbox" ></activity>
        <activity android:name=".Contact" ></activity>
        <activity android:name=".SentMessage" ></activity>
        <activity android:name=".DetailInbox" ></activity>
        <activity android:name=".DetailSent" ></activity>
        <activity android:name=".CreateContact" ></activity>
        <activity android:name=".ProductDetail" ></activity>
        <activity android:name=".ConfirmPurchase" ></activity>
        <activity android:name=".ConfirmPayment" ></activity>
        <activity android:name=".PurchaseHistory" ></activity>
        <activity android:name=".SearchResult" ></activity>
        <activity android:name=".SoldItem" ></activity>
        <activity android:name=".SoldHistory" ></activity>
        <activity android:name=".DeleteProduct" ></activity>
        <activity android:name=".Sell" ></activity>
        <activity android:name=".SoldProductDetail"/>
    </application>

</manifest>