<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cidoeq.taniaga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher_taniaga"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login" />
        <activity android:name=".register" />
        <activity android:name=".Profile" />
        <activity android:name=".Premium" />
        <activity android:name=".Category" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".ComposeMessage" />
        <activity android:name=".Inbox" />
        <activity android:name=".Contact" />
        <activity android:name=".SentMessage" />
        <activity android:name=".DetailInbox" />
        <activity android:name=".DetailSent" />
        <activity android:name=".CreateContact" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".ConfirmPurchase" />
        <activity android:name=".ConfirmPayment" />
        <activity android:name=".PurchaseHistory" />
        <activity android:name=".SearchResult" />
        <activity android:name=".SoldItem" />
        <activity android:name=".SoldHistory" />
        <activity android:name=".DeleteProduct" />
        <activity android:name=".Sell" />
        <activity android:name=".SoldProductDetail"></activity>
    </application>

</manifest>